<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A propos</title>
</head>
<body>
    
    <div style="width: 50%; margin: auto;">
        
        <%- include('./composants/header') %>

        <section>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, voluptas! Voluptatibus aut optio, necessitatibus culpa quam, repellat nisi cupiditate sequi provident libero aspernatur architecto minus laboriosam similique esse minima repudiandae.</p>
        </section>
    </div>

</body>
</html>